@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

.slick-slide > div {
  margin: 0 10px;
  height: 500px;
}
/* .slick-arrow {
  background-color: #00acc1;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.slick-arrow::before {
  background-color: #00acc1;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.slick-arrow:hover {
  background-color: #00acc1;
} */
